*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section{
  background-color: #5bae56;
  height: 100vh;
  width: 60%;
  margin: auto;
  padding: 40px;
}
form{
  height: 350px;
  width: 70%;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

.form-group{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap:2px;
}
input{
  outline: none;
  padding: 2px 4px;
}
